[submodule "cfitsio"]
	path = cfitsio
	url = git@github.com:Areustle/cfitsio.git
    fetchRecurseSubmodules
[submodule "readline"]
	path = readline
	url = git://git.savannah.gnu.org/readline.git
    fetchRecurseSubmodules
[submodule "wcslib"]
	path = wcslib
	url = git://anonscm.debian.org/debian-astro/packages/wcslib.git
